massdot-itms-events-feed.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1">

  <!-- ~~~~~~~~~~~~~~~~~~~~ -->
  <!-- ENUMS (SIMPLE TYPES) -->
  <!-- ~~~~~~~~~~~~~~~~~~~~ -->
  <!-- general -->
  <xs:simpleType name="eventStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="FUTURE"/>
      <xs:enumeration value="TERMINATED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="areaEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TOWN"/>
      <xs:enumeration value="COUNTY"/>
      <xs:enumeration value="SUBDISTRICT"/>
      <xs:enumeration value="DISTRICT"/>
      <xs:enumeration value="STATEWIDE"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- planned event -->
  <xs:simpleType name="plannedEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONSTRUCTION/MAINTENANCE"/>
      <xs:enumeration value="SPECIAL_EVENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="constructionMaintenanceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ROADWAY_ACTIVITY"/>
      <xs:enumeration value="BRIDGE_ACTIVITY"/>
      <xs:enumeration value="TUNNEL_ACTIVITY"/>
      <xs:enumeration value="FACILITY_ACTIVITY"/>
      <xs:enumeration value="UTILITY_ACTIVITY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="specialEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STADIUM/ARENA_EVENT"/>
      <xs:enumeration value="OUTDOOR_EVENT"/>
      <xs:enumeration value="VIP_VISIT"/>
      <xs:enumeration value="ATHLETIC_EVENT"/>
      <xs:enumeration value="FUNERAL_PROCESSION"/>
      <xs:enumeration value="TRAINING/DRILL"/>
      <xs:enumeration value="OTHER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="stadiumArenaEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAVILION_EVENT"/>
      <xs:enumeration value="GILLETTE_STADIUM_EVENT"/>
      <xs:enumeration value="BCEC_EVENT"/>
      <xs:enumeration value="OTHER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="outdoorEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AIRSHOW"/>
      <xs:enumeration value="FIREWORKS_DISPLAY"/>
      <xs:enumeration value="MOVIE_FILMING"/>
      <xs:enumeration value="GENERAL_OUTDOOR_EVENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="athleticEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MARATHON"/>
      <xs:enumeration value="ROAD_RACE"/>
      <xs:enumeration value="BIKE_RACE"/>
      <xs:enumeration value="CHARITY_WALK"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- unplanned event -->
  <xs:simpleType name="unplannedEventCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ROADWAY/TRAFFIC"/>
      <xs:enumeration value="ACTS_OF_NATURE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="roadwayTrafficType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRASH"/>
      <xs:enumeration value="DISABLED_MOTOR_VEHICLE"/>
      <xs:enumeration value="FIRE"/>
      <xs:enumeration value="ROADWAY_DAMAGE"/>
      <xs:enumeration value="ROADWAY_OBSTRUCTION"/>
      <xs:enumeration value="CONGESTION"/>
      <xs:enumeration value="GENERAL_ROADWAY/TRAFFIC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="roadwayTrafficFireSubtype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VEHICLE_FIRE"/>
      <xs:enumeration value="FACILITY_FIRE_AFFECTING_ROADWAY"/>
      <xs:enumeration value="BRUSH/FOREST_FIRE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="roadwayTrafficRoadwayDamageSubtype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STORM_DAMAGE"/>
      <xs:enumeration value="ROAD_SURFACE_COLLAPSE"/>
      <xs:enumeration value="POTHOLE"/>
      <xs:enumeration value="WATER_DAMAGE"/>
      <xs:enumeration value="SEWER_DAMAGE"/>
      <xs:enumeration value="GAS_LEAK"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="roadwayTrafficRoadwayObstructionSubtype">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FALLEN_TREES"/>
      <xs:enumeration value="DOWNED_SIGN"/>
      <xs:enumeration value="DOWNED_UTILITY_POLE"/>
      <xs:enumeration value="DOWNED_POWER_LINE"/>
      <xs:enumeration value="DOWNED_CABLES"/>
      <xs:enumeration value="CRASH_INVESTIGATION_WORK"/>
      <xs:enumeration value="GENERAL_OBSTRUCTION/DEBRIS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="actsOfNatureType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOCAL_WEATHER_EVENT"/>
      <xs:enumeration value="ADVISORY/WATCH/WARNING"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- ~~~~~~~~~~~~~ -->
  <!-- COMPLEX TYPES -->
  <!-- ~~~~~~~~~~~~~ -->
  <!-- location -->
  <xs:complexType name="latlon">
    <xs:sequence>
      <xs:element name="Latitude">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Longitude">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-180"/>
            <xs:maxInclusive value="180"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="locationPoint">
    <xs:sequence>
      <xs:element name="RoadwayName" type="xs:string">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated;; should include dashes as appropriate (e.g. I-90, not I90) even if this is not indicated in the GIS data">Name of the roadway for the location including direction (e.g. I-93 NB).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Coordinates" type="latlon">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on DSM-based user input">The coordinates of the start/end/decision point.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eventLocation">
    <xs:choice>
      <xs:element name="Point" type="locationPoint">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on DSM-based user input">The location for a point event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Range">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on DSM-based user input">The location for a range event.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Start" type="locationPoint">
              <xs:annotation>
                <xs:documentation source="DYNAC-generated based on DSM-based user input">The point on the roadway that indicates the beginning of the event.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Waypoint" type="locationPoint" minOccurs="0" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation source="DYNAC-generated based on DSM-based user input">A point on the roadway that indicates a waypoint.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="End" type="locationPoint">
              <xs:annotation>
                <xs:documentation source="DYNAC-generated based on DSM-based user input">The point on the roadway that indicates the end of the event.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Area">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on DSM-based user input">The location for an area event.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AreaType" type="areaEventType">
              <xs:annotation>
                <xs:documentation source="DYNAC DSM-based user input">The type of area region impacted by an event.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="AreaValue" type="xs:string" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation source="DYNAC DSM-based user input">The name/value of the specific area (type indicated by AreaType) impacted by an event.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <!-- lane configuration info -->
  <xs:complexType name="laneInfo">
    <xs:sequence>
      <xs:element name="Direction" type="xs:string">
        <xs:annotation>
          <xs:documentation source="DYNAC-based GIS information">The direction for each lane on the start roadway, including both direction of travel for bidirection roadways; e.g. NNN from three northbound lanes and SSSNNN for three southbound lanes and three northbound lanes. The convention is:
- For northbound lanes, the first letter indicates the leftmost travel lane, which is closest to the median;
- For southbound lanes, the first letter indicates the rightmost lane, which is closest to entry and exit ramps;
- For eastbound lanes, the first letter indicates the leftmost travel lane, which is closest to the median;
- For westbound lanes, the first letter indicates the rightmost lane, which is closest to entry and exit ramps.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LanesAffected" type="xs:string">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">Lanes affected, where open lanes will be represented by X and closed lanes by O. For example, if the rightmost two lanes are closed, then the string will be OOOOXX.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- occurence -->
  <xs:complexType name="eventOccurence">
    <xs:sequence>
      <xs:element name="StartDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on DSM-based user input">The start Date/Time for the occurrence.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on DSM-based user input">The end Date/Time for the occurrence.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- base event -->
  <xs:complexType name="event">
    <xs:sequence>
      <xs:element name="Name" type="xs:string">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated unique ID for an event">Short name given to an event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreatedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on system timestamps">Date/Time an event was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConfirmedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on system timestamps">Date/Time an event was confirmed.
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UpdatedAt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on system timestamps">Date/Time an event was updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on system timestamps">The start Date/Time for an event.
</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Location" type="eventLocation">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The location defined for an event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="eventStatus">
        <xs:annotation>
          <xs:documentation source="DYNAC-generated based on a current state of an event">The current status of an event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LaneInfo" type="laneInfo" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Parent element for lane-level information for the location of an event.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- planned event -->
  <xs:complexType name="constructionMaintenanceSpecifics">
    <xs:attribute name="subtype" type="constructionMaintenanceType" use="required">
      <xs:annotation>
        <xs:documentation>The ascribed subtype of a Planned Event.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="specialEventSpecifics">
    <xs:sequence>
      <xs:element name="SpecialEventCharacteristics" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The characteristics specific to a Special Event.</xs:documentation>
        </xs:annotation>
        <xs:alternative test="@subtype = 'STADIUM/ARENA_EVENT'" type="stadiumArenaEventType"/>
        <xs:alternative test="@subtype = 'OUTDOOR_EVENT'" type="outdoorEventType"/>
        <xs:alternative test="@subtype = 'ATHLETIC_EVENT'" type="athleticEventType"/>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="subtype" type="specialEventType" use="required">
      <xs:annotation>
        <xs:documentation>The ascribed subtype of a Planned Event.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="plannedEvent">
    <xs:complexContent>
      <xs:extension base="event">
        <xs:sequence>
          <xs:element name="EndDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation source="DYNAC DSM-based user input">The end Date/Time for a planned event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="TypeSpecific">
            <xs:annotation>
              <xs:documentation>Details specific to the type of Planned Event.</xs:documentation>
            </xs:annotation>
            <xs:alternative test="@type = 'CONSTRUCTION/MAINTENANCE'"
              type="constructionMaintenanceSpecifics"/>
            <xs:alternative test="@type = 'SPECIAL_EVENT'" type="specialEventSpecifics"/>
          </xs:element>
          <xs:element name="Occurrences">
            <xs:annotation>
              <xs:documentation source="DYNAC-generated based on DSM-based user input">A list of all occurrences for a single event. Up to 20 per event.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence maxOccurs="20">
                <!-- NOTE arbitrary cap -->
                <xs:element name="Occurrence" type="eventOccurence">
                  <xs:annotation>
                    <xs:documentation source="DYNAC-generated based on DSM-based user input">A single occurrence of a reurring event.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="plannedEventType" use="required">
          <xs:annotation>
            <xs:documentation source="DYNAC DSM-based user input">The ascribed type of a planned event.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- unplanned event -->
  <xs:complexType name="advisoryWatchWarningCharacteristics">
    <xs:sequence>
      <xs:element name="ID" type="xs:integer">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">An identifier for the specific weather category, event, and location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- ensure this is described in the docs -->
      <xs:element name="Category">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The category of the advisory/watch/warning, (either ADVISORY, WATCH, or WARNING).</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ADVISORY"/>
            <xs:enumeration value="WATCH"/>
            <xs:enumeration value="WARNING"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EventType" type="xs:string">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The type of weather event (e.g. Tornado, Hurricane).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Location" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The specified location of the advistory/watch/warning. This could be statewide or one or more counties.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- county name, 'STATEWIDE', or many county names -->
      <xs:element name="StartDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The specified start time for the advisory/watch/warning.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EndDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The specified end time for the advisory/watch/warning.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadwayTrafficCharacteristics">
    <xs:sequence>
      <xs:element name="HasSpeedRestriction" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">Specifies if there is a speed restriction associated with the event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsWithinWorkZone" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">Specifies if the event is within a work zone.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsBoreClosureRequired" type="xs:boolean">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">Specifies if there is a bore closure required for the event.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="roadwayTrafficSpecifics">
    <xs:sequence>
      <xs:element name="Subtype" type="xs:string">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The ascribed sub-type of the ROADWAY/TRAFFIC Unplanned Event.</xs:documentation>
        </xs:annotation>
        <xs:alternative test="@type = 'FIRE'" type="roadwayTrafficFireSubtype"/>
        <xs:alternative test="@type = 'ROADWAY_DAMAGE'" type="roadwayTrafficRoadwayDamageSubtype"/>
        <xs:alternative test="@type = 'ROADWAY_OBSTRUCTION'"
          type="roadwayTrafficRoadwayObstructionSubtype"/>
      </xs:element>
      <xs:element name="Characteristics" type="roadwayTrafficCharacteristics" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The specifc characteristics of a ROADWAY/TRAFFIC Unplanned Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="roadwayTrafficType" use="required">
      <xs:annotation>
        <xs:documentation source="DYNAC DSM-based user input">The type of the Unplanned Event.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="actsOfNatureSpecifics">
    <xs:sequence>
      <xs:element name="Characteristics" type="advisoryWatchWarningCharacteristics" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="DYNAC DSM-based user input">The specific characteristics of an ACTS_OF_NATURE Unplanned Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="actsOfNatureType" use="required">
      <xs:annotation>
        <xs:documentation source="DYNAC DSM-based user input">The type of the Unplanned Event.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="unplannedEvent">
    <xs:complexContent>
      <xs:extension base="event">
        <xs:sequence>
          <xs:element name="CategorySpecific">
            <xs:annotation>
              <xs:documentation>Details specific to the category of the Unplanned Event.</xs:documentation>
            </xs:annotation>
            <xs:alternative test="@category = 'ROADWAY/TRAFFIC'" type="roadwayTrafficSpecifics"/>
            <xs:alternative test="@category = 'ACTS_OF_NATURE'" type="actsOfNatureSpecifics"/>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="category" type="unplannedEventCategory" use="required">
          <xs:annotation>
            <xs:documentation source="DYNAC DSM-based user input">The category of an Unplanned Event or of a weather event.
</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- ~~~~~~~~~~~~ -->
  <!-- ROOT ELEMENT -->
  <!-- ~~~~~~~~~~~~ -->
  <xs:element name="EventsFeed">
    <xs:annotation>
      <xs:documentation>Root element for the feed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="UpdateTimestamp" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation source="DYNAC-generated element at the time of feed publishing">Date/Time when this instance of the feed was published.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Events">
          <xs:annotation>
            <xs:documentation source="DYNAC-generated, minus unconfirmed events">Includes all published planned/unplanned events.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="PlannedEvent" type="plannedEvent">
                <xs:annotation>
                  <xs:documentation source="DYNAC DSM-based user input, minus the type exclusions">A planned event that affects the roadway - e.g. planned construction work.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="UnplannedEvent" type="unplannedEvent">
                <xs:annotation>
                  <xs:documentation source="DYNAC DSM-based user input, minus the type exclusions">An unplanned event that is affecting the roadway - e.g. a crash.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
